{
displayStrings = (
"Classiche
Classiche
Classiche
Classiche
Classiche",
"Garamond & Clanck
Garamond & Clanck
Garamond & Clack
Garamond & Clack
Garamond & Clack
Garamond & Clack",
"MASSIVE
MASSIVE
MASSIVE
MASSIVE
MASSIVE
MASSIVE
MASSIVE
MASSIVE
MASSIVE
MASSIVE",
"M/a.ss01 schinger
M/a.ss01 schinger
M/a.ss01 schinger
M/a.ss01 schinger
M/a.ss01 schinger
M/a.ss01 schinger"
);
}
