{
displayStrings = (
"Avalanche
Avalanche",
"HOANDIAN
HOANDIAN
contenedor
contenedor",
"Spacing UC   
HH/Placeholder HH/Placeholder OO/Placeholder OO
OO/Placeholder OO/Placeholder HHB/Placeholder BH
AÆBCDEƏFGHIJKLMNƝŊ
OƠǪŒPANÞHRTHSHẞTUŲ
VWXYZI/I.ss01/Iogonek.ss01/J.ss01 


HHHHHHHH
OOOOOOOO
HOHOHDHDHOH
HHHHHHH
",
"Spacing lc    
foiºnn/Placeholder nn/Placeholder oo/Placeholder o
oo/Placeholder oo/Placeholder nns/Placeholder n
aæbcdđðeęfghħ
ıiįȷjkĸlmnɲŋoơǫ
œpþqrsßtuvwxyz
/a.ss01/g.ss01 ªº
nnnnnn
oooooo
nononon
nnnnnn
",
"Spacing numbers   
l0l0l8l0l0l8800
010203040506070809
00/Placeholder 00/Placeholder 88
88/Placeholder 88/Placeholder 00

/zero.dnom/one.dnom/two.dnom/three.dnom/four.dnom/five.dnom/six.dnom/seven.dnom/eight.dnom/nine.dnom 
/zero.dnom/one.dnom/zero.dnom/two.dnom/zero.dnom/three.dnom/zero.dnom/four.dnom/zero.dnom/five.dnom/zero.dnom/six.dnom/zero.dnom/seven.dnom/zero.dnom/eight.dnom/zero.dnom/nine.dnom/zero.dnom 
/zero.dnom/one.dnom/zero.dnom/two.dnom/zero.dnom/three.dnom/zero.dnom/four.dnom/zero.dnom/five.dnom/zero.dnom/six.dnom/zero.dnom/seven.dnom/zero.dnom/eight.dnom/zero.dnom/nine.dnom/zero.dnom 

⁄ 8½8¼8¾8⅛8⅜8⅝8⅞
⁄ 8½8¼8¾8⅛8⅜8⅝8⅞
",
"Espacios . . UN CARRO ES UN VEHÍCULO DE TRANSPORTE TERRESTRE QUE CIRCULA SOBRE DOS RUEDAS O MÁS Y QUE SE MUEVE POR TRACCIÓN ANIMAL; EN ALGUNOS PAÍSES DE HISPANOAMÉRICA, PUEDE SER UN AUTOMÓVIL O UN VAGÓN DE FERROCARRIL.1/zerowidthspace 2/zerowidthspace 3/zerowidthspace  LOS CARROS PUEDEN SER TIRADOS POR CABALLOS, MULAS, BURROS, BUEYES, OTROS ANIMALES O INCLUSO PERSONAS, EN FUNCIÓN DE LAS COSTUMBRES DEL LUGAR. PUEDE DENOMINARSE TAMBIÉN CARRETA,4/zerowidthspace  CARRUAJE5/zerowidthspace  COCHE DE CABALLOS, DILIGENCIA, ETC.

Un carro es un vehículo de transporte terrestre que circula sobre dos ruedas o más y que se mueve por tracción animal; en algunos países de Hispanoamérica, puede ser un automóvil o un vagón de ferrocarril. 1/zerowidthspace 2/zerowidthspace 3/zerowidthspace  Los carros pueden ser tirados por caballos, mulas, burros, bueyes, otros animales o incluso personas, en función de las costumbres del lugar. Puede denominarse también carreta,4/zerowidthspace  carruaje5/zerowidthspace  coche de caballos, diligencia, etc.",
"Spacing punctuation   
NHH/Placeholder HH/Placeholder OO/Placeholder OOnn/Placeholder nn/Placeholder oo
OO/Placeholder OO/Placeholder HHB/Placeholder BH
.,:;…!¡?¿·•*#///backslash/periodcentered.case/bullet.case 
/slash.case/backslash.case/periodcentered.loclCAT/periodcentered.loclCAT.case/slash.lc -­–—‒―‐_/hyphen.case/endash.case/emdash.case 
(H)H{H}H[H]H/parenleft.case H/parenright.case H/braceleft.case H/braceright.case H/bracketleft.case H/bracketright.case 
H‚H„H“H”H‘H’H«H»H‹H›H\"H'H/guillemetleft.case H/guillemetright.case H/guilsinglleft.case H/guilsinglright.case H
",
"Spacing $ymbols   
NHH/Placeholder HH/Placeholder OO/Placeholder OOnn/Placeholder nn/Placeholder oo
OO/Placeholder OO/Placeholder HHB/Placeholder BH
nƒ@&S§§©®™°″|¦†‡‡℮№89
C/at.case/bar.currency ₵¢₡¤$₫€₣₲₭₤₺₼₦₧₱₽
₹£₩¥/naira.bold/peseta.bold/peso.bold/won.bold/sterling.base ∙∕+−×÷=≠><≥≤±≈~¬^
∞∅∫Ω∆∏∑√µ∂ 68% 58‰◊",
"",
"aæbcdđðeęfghħıįȷkĸlmnɲŋoơǫœpþqrsßtuvwxyz/a.ss01/g.ss01 ªº"
);
}
