(
A,
Aacute,
Abreve,
Abreveacute,
Abrevedotbelow,
Abrevegrave,
Abrevehookabove,
Abrevetilde,
Acaron,
Acircumflex,
Acircumflexacute,
Acircumflexdotbelow,
Acircumflexgrave,
Acircumflexhookabove,
Acircumflextilde,
Adblgrave,
Adieresis,
Adotbelow,
Agrave,
Ahookabove,
Ainvertedbreve,
Amacron,
Aogonek,
Aring,
Aringacute,
Atilde,
AE,
AEacute,
B,
C,
Cacute,
Ccaron,
Ccedilla,
Ccedillaacute,
Ccircumflex,
Cdotaccent,
D,
DZ,
DZcaron,
Dcaron,
Dcroat,
Ddotbelow,
Dlinebelow,
Dz,
Dzcaron,
Eth,
E,
Eacute,
Ebreve,
Ecaron,
Ecedillabreve,
Ecircumflex,
Ecircumflexacute,
Ecircumflexdotbelow,
Ecircumflexgrave,
Ecircumflexhookabove,
Ecircumflextilde,
Edblgrave,
Edieresis,
Edotaccent,
Edotbelow,
Egrave,
Ehookabove,
Einvertedbreve,
Emacron,
Emacronacute,
Emacrongrave,
Eogonek,
Etilde,
Schwa,
F,
G,
Gbreve,
Gcaron,
Gcircumflex,
Gcommaaccent,
Gdotaccent,
Gmacron,
H,
Hbar,
Hbrevebelow,
Hcircumflex,
Hdotbelow,
I,
IJ,
Iacute_J.loclNLD,
Iacute,
Ibreve,
Icaron,
Icircumflex,
Idblgrave,
Idieresis,
Idieresisacute,
Idotaccent,
Idotbelow,
Igrave,
Ihookabove,
Iinvertedbreve,
Imacron,
Iogonek,
Itilde,
J,
Jacute,
Jcircumflex,
K,
Kcommaaccent,
L,
LJ,
Lacute,
Lcaron,
Lcommaaccent,
Ldot,
Ldotbelow,
Lj,
Llinebelow,
Lslash,
M,
Mdotbelow,
N,
NJ,
Nacute,
Ncaron,
Ncommaaccent,
Ndotaccent,
Ndotbelow,
Nhookleft,
Nj,
Nlinebelow,
Ntilde,
Eng,
O,
Oacute,
Obreve,
Ocaron,
Ocircumflex,
Ocircumflexacute,
Ocircumflexdotbelow,
Ocircumflexgrave,
Ocircumflexhookabove,
Ocircumflextilde,
Odblgrave,
Odieresis,
Odieresismacron,
Odotaccentmacron,
Odotbelow,
Ograve,
Ohookabove,
Ohorn,
Ohornacute,
Ohorndotbelow,
Ohorngrave,
Ohornhookabove,
Ohorntilde,
Ohungarumlaut,
Oinvertedbreve,
Omacron,
Omacronacute,
Omacrongrave,
Oogonek,
Oslash,
Oslashacute,
Otilde,
Otildeacute,
Otildedieresis,
Otildemacron,
OE,
P,
Thorn,
Q,
R,
Racute,
Rcaron,
Rcommaaccent,
Rdblgrave,
Rdotbelow,
Rinvertedbreve,
Rlinebelow,
S,
Sacute,
Sacutedotaccent,
Scaron,
Scarondotaccent,
Scedilla,
Scircumflex,
Scommaaccent,
Sdotaccent,
Sdotbelow,
Sdotbelowdotaccent,
Germandbls,
T,
Tbar,
Tcaron,
Tcedilla,
Tcommaaccent,
Tdotbelow,
Tlinebelow,
U,
Uacute,
Ubreve,
Ucaron,
Ucircumflex,
Udblgrave,
Udieresis,
Udotbelow,
Ugrave,
Uhookabove,
Uhorn,
Uhornacute,
Uhorndotbelow,
Uhorngrave,
Uhornhookabove,
Uhorntilde,
Uhungarumlaut,
Uinvertedbreve,
Umacron,
Umacrondieresis,
Uogonek,
Uring,
Utilde,
Utildeacute,
V,
W,
Wacute,
Wcircumflex,
Wdieresis,
Wgrave,
X,
Y,
Yacute,
Ycircumflex,
Ydieresis,
Ydotaccent,
Ydotbelow,
Ygrave,
Yhookabove,
Ymacron,
Ytilde,
Z,
Zacute,
Zcaron,
Zdotaccent,
Zdotbelow,
Jacute.loclNLD,
I.ss01,
IJ.ss01,
Iacute.ss01,
Ibreve.ss01,
Icaron.ss01,
Icircumflex.ss01,
Idblgrave.ss01,
Idieresis.ss01,
Idieresisacute.ss01,
Idotaccent.ss01,
Idotbelow.ss01,
Igrave.ss01,
Ihookabove.ss01,
Iinvertedbreve.ss01,
Imacron.ss01,
Iogonek.ss01,
Itilde.ss01,
J.ss01,
Jacute.ss01,
Jcircumflex.ss01,
LJ.ss01,
NJ.ss01,
a,
aacute,
abreve,
abreveacute,
abrevedotbelow,
abrevegrave,
abrevehookabove,
abrevetilde,
acaron,
acircumflex,
acircumflexacute,
acircumflexdotbelow,
acircumflexgrave,
acircumflexhookabove,
acircumflextilde,
adblgrave,
adieresis,
adotbelow,
agrave,
ahookabove,
ainvertedbreve,
amacron,
aogonek,
aring,
aringacute,
atilde,
ae,
aeacute,
b,
c,
cacute,
ccaron,
ccedilla,
ccedillaacute,
ccircumflex,
cdotaccent,
d,
dcaron,
dcroat,
ddotbelow,
dlinebelow,
dzcaron,
eth,
e,
eacute,
ebreve,
ecaron,
ecedillabreve,
ecircumflex,
ecircumflexacute,
ecircumflexdotbelow,
ecircumflexgrave,
ecircumflexhookabove,
ecircumflextilde,
edblgrave,
edieresis,
edotaccent,
edotbelow,
egrave,
ehookabove,
einvertedbreve,
emacron,
emacronacute,
emacrongrave,
eogonek,
etilde,
schwa,
f,
g,
gbreve,
gcaron,
gcircumflex,
gcommaaccent,
gdotaccent,
gmacron,
h,
hbar,
hbrevebelow,
hcircumflex,
hdotbelow,
i,
idotless,
iacute,
ibreve,
icaron,
icircumflex,
idblgrave,
idieresis,
idieresisacute,
idotaccent,
idotbelow,
igrave,
ihookabove,
iinvertedbreve,
imacron,
iogonek,
itilde,
ij,
iacute_j.loclNLD,
j,
jdotless,
jacute,
jcircumflex,
k,
kcommaaccent,
kgreenlandic,
l,
lacute,
lcaron,
lcommaaccent,
ldot,
ldotbelow,
lj,
llinebelow,
lslash,
m,
mdotbelow,
n,
nacute,
napostrophe,
ncaron,
ncommaaccent,
ndotaccent,
ndotbelow,
nhookleft,
nj,
nlinebelow,
ntilde,
eng,
o,
oacute,
obreve,
ocaron,
ocircumflex,
ocircumflexacute,
ocircumflexdotbelow,
ocircumflexgrave,
ocircumflexhookabove,
ocircumflextilde,
odblgrave,
odieresis,
odieresismacron,
odotaccentmacron,
odotbelow,
ograve,
ohookabove,
ohorn,
ohornacute,
ohorndotbelow,
ohorngrave,
ohornhookabove,
ohorntilde,
ohungarumlaut,
oinvertedbreve,
omacron,
omacronacute,
omacrongrave,
oogonek,
oslash,
oslashacute,
otilde,
otildeacute,
otildedieresis,
otildemacron,
oe,
p,
thorn,
q,
r,
racute,
rcaron,
rcommaaccent,
rdblgrave,
rdotbelow,
rinvertedbreve,
rlinebelow,
s,
sacute,
sacutedotaccent,
scaron,
scarondotaccent,
scedilla,
scircumflex,
scommaaccent,
sdotaccent,
sdotbelow,
sdotbelowdotaccent,
germandbls,
t,
tbar,
tcaron,
tcedilla,
tcommaaccent,
tdieresis,
tdotbelow,
tlinebelow,
u,
uacute,
ubreve,
ucaron,
ucircumflex,
udblgrave,
udieresis,
udotbelow,
ugrave,
uhookabove,
uhorn,
uhornacute,
uhorndotbelow,
uhorngrave,
uhornhookabove,
uhorntilde,
uhungarumlaut,
uinvertedbreve,
umacron,
umacrondieresis,
uogonek,
uring,
utilde,
utildeacute,
v,
w,
wacute,
wcircumflex,
wdieresis,
wgrave,
x,
y,
yacute,
ycircumflex,
ydieresis,
ydotaccent,
ydotbelow,
ygrave,
yhookabove,
ymacron,
ytilde,
z,
zacute,
zcaron,
zdotaccent,
zdotbelow,
jacute.loclNLD,
a.ss01,
aacute.ss01,
abreve.ss01,
abreveacute.ss01,
abrevedotbelow.ss01,
abrevegrave.ss01,
abrevehookabove.ss01,
abrevetilde.ss01,
acaron.ss01,
acircumflex.ss01,
acircumflexacute.ss01,
acircumflexdotbelow.ss01,
acircumflexgrave.ss01,
acircumflexhookabove.ss01,
acircumflextilde.ss01,
adblgrave.ss01,
adieresis.ss01,
adotbelow.ss01,
agrave.ss01,
ahookabove.ss01,
ainvertedbreve.ss01,
amacron.ss01,
aogonek.ss01,
aring.ss01,
aringacute.ss01,
atilde.ss01,
g.ss01,
gbreve.ss01,
gcaron.ss01,
gcircumflex.ss01,
gcommaaccent.ss01,
gdotaccent.ss01,
gmacron.ss01,
f_f,
fi,
fl,
f_f_i,
f_f_ij,
f_f_l,
f_ij,
ordfeminine,
ordmasculine,
"ordmasculine-bar",
Delta,
Omega,
mu,
pi,
zero,
one,
two,
three,
four,
five,
six,
seven,
eight,
nine,
zero.zero,
zero.percent.dnom,
zero.percent.numr,
zero.dnom,
one.dnom,
two.dnom,
three.dnom,
four.dnom,
five.dnom,
six.dnom,
seven.dnom,
eight.dnom,
nine.dnom,
zero.numr,
one.numr,
two.numr,
three.numr,
four.numr,
five.numr,
six.numr,
seven.numr,
eight.numr,
nine.numr,
fraction,
onehalf,
onequarter,
threequarters,
oneeighth,
threeeighths,
fiveeighths,
seveneighths,
zeroinferior,
oneinferior,
twoinferior,
threeinferior,
fourinferior,
fiveinferior,
sixinferior,
seveninferior,
eightinferior,
nineinferior,
zerosuperior,
onesuperior,
twosuperior,
threesuperior,
foursuperior,
fivesuperior,
sixsuperior,
sevensuperior,
eightsuperior,
ninesuperior,
space,
nbspace,
figurespace,
punctuationspace,
thinspace,
hairspace,
zerowidthspace,
CR,
.notdef,
.null,
period,
comma,
colon,
semicolon,
ellipsis,
exclam,
exclamdown,
question,
questiondown,
periodcentered,
bullet,
asterisk,
numbersign,
slash,
backslash,
periodcentered.case,
bullet.case,
slash.case,
backslash.case,
periodcentered.loclCAT,
periodcentered.loclCAT.case,
slash.lc,
hyphen,
softhyphen,
endash,
emdash,
figuredash,
horizontalbar,
hyphentwo,
underscore,
hyphen.case,
endash.case,
emdash.case,
parenleft,
parenright,
braceleft,
braceright,
bracketleft,
bracketright,
parenleft.case,
parenright.case,
braceleft.case,
braceright.case,
bracketleft.case,
bracketright.case,
quotesinglbase,
quotedblbase,
quotedblleft,
quotedblright,
quoteleft,
quoteright,
guillemetleft,
guillemetright,
guilsinglleft,
guilsinglright,
quotedbl,
quotesingle,
guillemetleft.case,
guillemetright.case,
guilsinglleft.case,
guilsinglright.case,
florin,
at,
ampersand,
paragraph,
section,
copyright,
registered,
trademark,
degree,
second,
bar,
brokenbar,
dagger,
literSign,
daggerdbl,
estimated,
numero,
at.case,
bar.currency,
cedi,
cent,
colonsign,
currency,
dollar,
dong,
euro,
franc,
guarani,
kip,
lira,
liraTurkish,
manat,
naira,
peseta,
peso,
ruble,
rupeeIndian,
sterling,
won,
yen,
naira.bold,
peseta.bold,
peso.bold,
won.bold,
sterling.base,
bulletoperator,
divisionslash,
plus,
minus,
multiply,
divide,
equal,
notequal,
greater,
less,
greaterequal,
lessequal,
plusminus,
approxequal,
asciitilde,
logicalnot,
asciicircum,
infinity,
emptyset,
integral,
Ohm,
increment,
product,
summation,
radical,
micro,
partialdiff,
percent,
perthousand,
lozenge,
dieresiscomb,
dieresiscomb_acutecomb,
dieresiscomb_macroncomb,
dotaccentcomb,
dotaccentcomb_macroncomb,
gravecomb,
acutecomb,
acutecomb_dotaccentcomb,
hungarumlautcomb,
caroncomb.alt,
circumflexcomb,
caroncomb,
caroncomb_dotaccentcomb,
brevecomb,
ringcomb,
tildecomb,
tildecomb_dieresiscomb,
tildecomb_acutecomb,
tildecomb_macroncomb,
macroncomb,
macroncomb_dieresiscomb,
macroncomb_gravecomb,
macroncomb_acutecomb,
hookabovecomb,
dblgravecomb,
breveinvertedcomb,
commaturnedabovecomb,
horncomb,
dotbelowcomb,
dieresisbelowcomb,
commaaccentcomb,
cedillacomb,
ogonekcomb,
brevebelowcomb,
macronbelowcomb,
strokeshortcomb,
brevecomb_acutecomb,
brevecomb_gravecomb,
brevecomb_hookabovecomb,
brevecomb_tildecomb,
circumflexcomb_acutecomb,
circumflexcomb_gravecomb,
circumflexcomb_hookabovecomb,
circumflexcomb_tildecomb,
dieresiscomb.case,
dieresiscomb_acutecomb.case,
dieresiscomb_macroncomb.case,
dotaccentcomb.case,
dotaccentcomb_macroncomb.case,
gravecomb.case,
acutecomb.case,
acutecomb_dotaccentcomb.case,
hungarumlautcomb.case,
circumflexcomb.case,
circumflexcomb_gravecomb.case,
circumflexcomb_acutecomb.case,
circumflexcomb_tildecomb.case,
circumflexcomb_hookabovecomb.case,
caroncomb.case,
brevecomb.case,
brevecomb_gravecomb.case,
brevecomb_acutecomb.case,
brevecomb_tildecomb.case,
brevecomb_hookabovecomb.case,
ringcomb.case,
tildecomb.case,
tildecomb_dieresiscomb.case,
tildecomb_acutecomb.case,
tildecomb_macroncomb.case,
macroncomb.case,
macroncomb_dieresiscomb.case,
macroncomb_gravecomb.case,
macroncomb_acutecomb.case,
hookabovecomb.case,
dblgravecomb.case,
breveinvertedcomb.case,
horncomb.case,
commaaccentcomb.case,
cedillacomb.case,
ogonekcomb.case,
dieresis,
dotaccent,
grave,
acute,
hungarumlaut,
circumflex,
caron,
breve,
ring,
tilde,
macron,
cedilla,
ogonek,
apostrophemod,
commaturnedmod,
ringhalfleft,
ringhalfright,
verticallinelowmod,
verticallinemod,
"acute-combinator",
"breve-combinator",
"circumflex-combinator",
"dieresis-combinator",
"dotaccent-combinator",
"grave-combinator",
"hookabove-combinator",
"macron-combinator",
"tilde-combinator",
Qbar.UC,
ShortBar.UC,
bar2.currency,
centerbar.currency,
"diag-stroke.UC",
diagonal.UC,
diagonal.lc,
doublecenterbar.currency,
doubledash.currency,
doubleleftbar.currency,
doublerigthbar.currency,
doubleslash.currency,
dp.fig,
kipbar.currency,
leftbar.currency,
leftbarbottom.currency,
longbar.UC,
manatbar.currency,
ne.fig,
rigthbar.currency,
shortbar.currency,
shortstroke.lc,
singledash.currency
)